
.navbar {
  min-height: 100px; 
color: black;
}
#nav {
    background-color: black !important;
}

#nav .nav-link,#title {
    color: #00a2ffd8 !important; 
    font-size: 20px; 
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3s ease-in-out;
}

#nav .nav-link:hover{
    text-shadow: 0 0 10px #00a2ffd8, 0 0 20px #00a2ffd8; 
    font-size: 23px; 
}
#title{
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;

}
#dropdown{
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
}
#icon{
  size: 100%;
}
.dropdowns{
   color: #00a2ffd8 !important;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

